<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>home</title>
</head>
<body>
<form action="/home" method='POST'>
<input type="text" name="game_name" placeholder="game_name">
<br>
<input type="submit" name="submit">
</form>

<a href="/add" >adding a game</a>
<img src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000000964/a28a81253e919298beab2295e39a56b7a5140ef15abdb56135655e5c221b2a3a">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtJ86EpybKM9ZyZdxA8ZEyqXgwn1zKuUk_Ig&s">
<img src="https://image.api.playstation.com/vulcan/img/cfn/11307_5hpWaHKJtp9AXjlv7IxLsx1epxAQKWoYaJG1J-QtMkOovpU7HWyd8AYxyykG6DfhKXHdii3BM4dIj7hppT4k4YHVEW.jpg">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJANR1OZtB3WTef1I80MZGu8t93BEfj5BfXg&s">

<a href='/profile_page'><button>profile_page</button></a>
</body>
</html>